mat-card {
    width: 500px;
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

mat-form-field {
    margin: 5px;
}

.addBtn {
    margin-bottom: 20px;
}